
.noscroll {
  overflow: hidden;
}

.partes-browsing {
  text-align: center;
}


/* modal */

.partes-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.8)
}

.partes-modal-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.partes-modal-ctrl {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #ccc solid;
  color: white;
}

.partes-modal-ctrl > div {
  display: inline-block;
  cursor: pointer;
  padding: 0px 20px;
}

.partes-modal-content {
  min-height: 0px;
  min-width: 0px;
}

.partes-modal-content-img, .partes-modal-content-video {
  max-height:100%;
  max-width:100%;
}


/* partes-tree */

.partes-tree-wrapper {
  text-align: left;
  float: left;
}

.partes-tree-dir {
  padding-left: 20px;
}

.partes-tree-dir-name {
  cursor: pointer;
}

.partes-tree-dir.opened > .partes-tree-dir-name {
  font-weight: bold;
}

.partes-tree-dir.closed > .partes-tree-dir-name {
}

.partes-tree-item {
  display: block;
  padding-left: 20px
}

.partes-tree-item-thumb {
  max-height: 50px;
  max-width: 50px
}



